#nav{
  width: 15%;
  max-width: 15%;
  background-color: #ccc;
  height: 100%;
  border-right: 3px solid #777;
  min-width: 290px;
  line-height: 1.5;
  overflow-y: scroll;
  font-size: 1.1em;
  min-height: 100%;
  overflow-x: hidden;
  position: fixed;
  min-width: 15%;
}

body{
  margin: 0;
  box-sizing: border-box;
}
#main-doc{
  width: 85%;
  min-height: 100vh;
  height: 100%;
  margin-left: 18%;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  height: 100%;
}
.header{
  color: #000;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 1.7em;
}
.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px 30px;
  color: #4d4e53;
  cursor: pointer;
}
#nav ul{
  padding-inline-start: 0px;
  height: 88%;
}
li {
  list-style-type: none;
  padding: 10px 5px;
  text-align: left;
  border-top: 1px solid #000;
}

code {
  background: #ccc;
  padding: 15px;
  text-align: left;
  word-wrap: normal;
  margin: 10px;
  border-radius: 5px;
  display: block;
  word-wrap: normal;
  position: relative;
  white-space: pre;
  line-height: 2;
  font-family: monospace;
}
